<!-- About Section -->
<section class="page-section" id="about" >
    <div class="container relative">
        {% for item in site.data.about %}
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            {{item.title}}
        </h2>
        
        <div class="section-text col-md-8 col-md-offset-2 mb-50 mb-sm-20">
            <div class="row">
                <div>
                    {{item.text}}
                </div>

            </div>
        </div>

    
        <div class="row section-text">
            <div class="col-md-8 col-md-offset-2">
                
                <!-- Accordion -->
                <dl class="accordion">
                
                    {% for accordion in item.accordions %}
                    <dt>
                        <a href="#">{{accordion.question}}</a>
                    </dt>
                    <dd>
                        {{accordion.answer}} 
                    </dd>
                    {% endfor %}
                {% endfor %}
                
                </dl>
                <!-- End Accordion -->
                
            </div>
        </div>
        
    </div>
</section>
<!-- End About Section -->