<head>
  <title>The City VR Experience: Walk like a giant alongside skyscrapers</title>
  <meta name="description" content="The City VR Experience is an immersive virtual reality experience that allows you to discover new perspectives to look upon the world we live in like never have before.">
  <meta name="keywords" content="THE CITY VR EXPERIENCE, City, CityVR, City VR, Google Earth VR, Google Street View VR, Earth VR, God View, Skywand, Google Earth, City, 3D Map, 3D, Giant, Walk Like A Giant, Skyline, Skyscraper">
  <meta charset="utf-8">
  <meta name="author" content="Amber Garage, Inc.">
  <link rel="canonical" href="https://cityvr.com" />

  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  
  <!-- Favicons -->
  <link rel="shortcut icon" href="images/favicon.png">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  

  <!-- SEO -->
  {% seo %}

  <!-- CSS -->
  <!-- inject:css -->
  <!-- endinject -->
  <link href="assets/fonts/futura/fonts.css" rel="stylesheet" type="text/css"/>
  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/touch/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">

  <!-- RSS -->
  {% feed_meta %}
  <style>
      .cityvr-title, a.logo:hover  {
          font-family: Futura-Medium, Trebuchet MS, Arial, sans-serif;
      }

  </style>
</head>
