<!-- Home Section -->
<section class="home-section bg-dark-alfa-30 bg-pattern-over" data-background="assets/images/video/cityvr.jpg" id="home">
    <div class="js-height-full container">

        <div class="bg-video-wrapper" id="video-background-cityvr">
            <div class="bg-video-overlay bg-pattern-over"></div>
        </div>

        <!-- Hero Content -->
        <div class="home-content">
            <div class="home-text" >
                <div class="hs-line-4 no-transp font-alt mb-50 mb-xs-30">
                    Redefine the way we experience 3D maps
                </div>                       

                <h1 class="hs-line-14  font-alt mb-50 mb-xs-30 cityvr-title" >
                    The
                    City VR
                    Experience
                </h1>

                <h2 class="hs-line-4 no-transp  font-alt mb-50 mb-xs-30">
                    Walk like a giant alongside skyscrapers<br> 
                </h2>                       
                
                <div>
                    <a href="https://vimeo.com/184466672" class="big-icon-link lightbox mfp-iframe"><span class="big-icon"><i class="fa fa-play"></i></span></a>
                </div>

                <h1>
                </h1>
                <div>
                    <a href="https://store.steampowered.com/app/517990/" target="_blank" class="btn btn-mod btn-w btn-medium btn-round">Available on Steam <i class="fa fa-steam fa-lg dark"></i></a>
                </div>
                
            </div>
        </div>
        <!-- End Hero Content -->

    </div>
</section>
<!-- End Home Section -->