---
layout: default
title: index
---

{% include home.html%}

{% include divider.html%}                    

{% include about.html%} 
                 
<!-- Call Action Section -->
<section class="small-section bg-dark" id="gameplay">
    <div class="container relative">
        
        <div class="align-center">
            <h3 class="banner-heading font-alt">Mixed Reality Gameplay</h3>
        </div>
        
    </div>
</section>
<!-- End Call Action Section -->

<!-- Section -->
<section class="page-section">
    <div class="container relative">
        
        <div class="work-full-media mt-0">
            
            <iframe src="https://player.vimeo.com/video/184466703?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="1000" height="563" allowfullscreen></iframe>
            
        </div>

    </div>
</section>

<!-- Call Action Section -->
<section class="small-section bg-dark" id="screenshots">
    <div class="container relative">
        
        <div class="align-center">
            <h3 class="banner-heading font-alt">Screenshots</h3>
        </div>
        
    </div>
</section>
<!-- End Call Action Section -->

{% include gallery.html %}
            

<!-- Call Action Section -->
<section class="small-section bg-dark" id="city">
    <div class="container relative">
        
        <div class="align-center">
            <h3 class="banner-heading font-alt">Cities</h3>
        </div>
        
    </div>
</section>
<!-- End Call Action Section -->
            
{% include slider.html %}

                     
<section class="small-section bg-dark bg-dark-alfa-70 fullwidth-slider"  id="press">
    <div class="container relative">
        
        <div class="align-center">
            <h3 class="banner-heading font-alt">Press</h3>
        </div>
        
    </div>
</section>

 <!-- Section -->
<section class="page-section">
    <div class="container relative">
    <p class="align-center">
        <a href="http://goo.gl/WLlPSN" target="_blank">Press Kit</a>: HD Screenshots, Video, GIFs, Clips, Footage, Press Release, and Q&amp;A and more! <br>
        Please follow instructions in <a href="http://goo.gl/WLlPSN" target="_blank">Press Kit</a> to use these materials.
    </p>
    </div>
</section>
<!-- End Section -->

{% include testimonials.html %}
               
{% include divider.html%}       

{% include contact.html%}   
{% include newsletter.html%}   

                      
                    
            
            